<button class="sm:absolute bg-blue-600 shadow-inner rounded-md text-sm font-bold text-white hover:bg-zinc-500 transition delay-150 duration-300 uppercase px-6 py-4 sm:mt-4 border-b-blue-800 border-4 border-x-0 border-t-0 m-2 sm:right-0 sm:top-0">
    <slot/>
</button>
