---

// IMPORT ASTRO COLLECTION
import { getCollection } from "astro:content"

// IMPORT FOOTER COLLECTIONS
let footer_column_data = await getCollection("footer-column")
footer_column_data = footer_column_data.sort( ( a, b ) => a.data.order - b.data.order )

// FILTER THE ITEMS IN EACH FOOTER DATA FILES BY LIVE
footer_column_data = footer_column_data.map( footer => {

    return {

        ...footer,
        data: {

            ...footer.data,
            items: footer.data.items.filter(item => item.live)

        }

    }

})

// IMPORT ASTRO ATOMS
import HeadingSixLgBoldWhite from "@/atoms/atoms-diksha/headings/six/lg/bold/white/index.astro"
import ParagraphSemiboldGray from "@/atoms/atoms-diksha/paragraphs/semibold/gray/index.astro"
import Link from "@/atoms/links/index.astro"

---

{

    footer_column_data.map( footer => {

        return (

            <div class="flex flex-col gap-3 w-48">
                <HeadingSixLgBoldWhite>{ footer.data.title }</HeadingSixLgBoldWhite>
                {

                    footer.data.items.map( item => {

                        return (

                            <Link
                                aria_label = "request a quote"
                                href={ item.link }
                            >
                                <ParagraphSemiboldGray>{ item.title }</ParagraphSemiboldGray>
                            </Link>

                        )

                    })

                }
            </div>

        )

    })

}
